.wrapper{
    width:600px;
    background: #eee;
    
}

.heading{

    heigh: 100px;
    background: red;
    padding: 20px;
    text-align: center;
}
.navigaton{
    height: 50px;
    background: lightgreen;

}
.content{
    min-height: 100px;
    background: #ddd;
    width: 400px;
    float: left;

}
.sidebar{
    width: 200px;
    float: right;
    background: lightblue;
    min-height: 400px

}
.footer{
    clear: both;
    background: black;
    height: 40px;
    color: white;
    min-height: 400px;


}
